<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Pachis Logo" src="/assets/pachis.png">
  <div class="card">
    <!--<img src="img_avatar.png" alt="Avatar" style="width:100%">-->
    <div class="container">
      <h4><b>{{vibracion}}</b></h4> 
      <p>Aqui va el mensaje</p> 
    </div>
  </div>
  <div class="card">
    <!--<img src="img_avatar.png" alt="Avatar" style="width:100%">-->
    <div class="container">
      <h4><b>{{gas}}</b></h4> 
      <p>Aqui va el mensaje</p> 
    </div>
  </div>
</div>



<router-outlet></router-outlet>

<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  </style>